.grid{
  position: absolute;
  width: 560px;
  height: 300px;
  border: 1px solid black;
  margin: 2em;
}

.block{
  width: 100px; height: 20px; background: violet; border: 1px solid;
  position: absolute;
}

.user {
  width: 100px; height: 20px; background: brown; border: 1px solid; position: absolute;
}

.ball { width: 20px; height:20px; border-radius: 50%; position: absolute;background:greenyellow}